@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    overflow: hidden;
  }

  body {
    @apply text-white text-2xl h-screen w-screen relative transition-colors duration-300;
  }

  .scroll-of {
    overflow: hidden;
  }

  .about-us-description > span {
    display: block;
  }

  @media (min-width: 1530px) {
    html {
      font-size: 115%;
    }
  }
  @media (max-width: 1024px) {
    html,
    body {
      overflow: initial;
    }
  }
}

@layer components {
  h1 {
    font-size: theme(fontSize.7xl);
  }
}
